.DS_Store
*.xbb
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.pdf
*.bbl
*.bcf
*.blg
*.run.xml
*.html
*.dlog
*.bak
*.opf
.DS_Store
book/book.out
.vscode/
book/bookch*
book/figures/*.png
book/figures/*.pdf
book/figures/*.in
book/book*.4ct
book/book*.4tc
book/book*.css
book/book*.dvi
book/book*.idv
book/book*.lg
book/book*.ncx
book/book*.out
book/book*.tmp
book/book*.xref
book/book*.svg
# Directories created during build
book/book_sans_serif/*
book/book_serif/*
book/static_website_html/*
website/static_website_html/*
book/epub/
book/book-epub/
book/bw-book-epub/*
book/release/*
