*.xbb
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.pdf
*.bbl
*.bcf
*.blg
*.run.xml
book/book.out
.vscode/
book/book.synctex*
book/tikz-cache/*
book/book*
book/bookch*
book/content.opf
book/output-epub
book/figures/*.png
book/figures/*.pdf
book/release/*
