compile = ["sh", "compile.sh"]
#compile = ["pdflatex", "-halt-on-error", "book/book.tex"]
run = ["sh", "runner.sh"]

hidden = ["*.aux", "*.log", "index.html", "runner.sh", "nohup.out"]

[languages.latex]
pattern = "**/*.tex"

[languages.latex.languageServer]
start = "texlab"

[nix]
channel = "stable-21_11"