.figure {
    max-width: 100%;
}
.figure img {
    max-width: 100% !important;
    height: auto;
    object-fit: contain;
    width: auto;
}
.float {
    max-width: 100%;
}
.float img {
    max-width: 100% !important;
    height: auto;
    object-fit: contain;
    width: auto;
}
