@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&family=Ubuntu+Mono&display=swap');

:root{
  --ff-sans: 'Raleway', sans-serif;
  --ff-mono: 'Ubuntu Mono', monospace;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
  --f-lh: 28px;
}

@media (min-width: 1200px){
  :root {
    font-size: 1.5vw;
  }
}

/* Maximal font size should be 24px, so stop font scalling at some point (24 / (1.5/100)) */

@media (min-width: 1500px){
  :root {
    font-size: 20px;
  }
}

/* ************** */
/* *** Layout *** */
/* ************** */

body{
  margin:0;
  padding:0;
  font-family: var(--ff-sans);
  font-weight: var(--fw-medium);
  font-size: 16px;
}

@media screen and (min-width: 57rem) {
  body{
    display:grid;
    grid-template-columns: 15rem 1fr;
  }
  main.main-content, main.titlepage, div.footnotes{max-width:40rem;grid-column: 2}
  main.titlepage {grid-row: 1;}
  nav.TOC{
    grid-row:1;
    grid-column: 1;
    min-height:100vh;
  }
}


/* ****************** */
/* *** Formatting *** */
/* ****************** */

main.main-content,main.titlepage,div.footnotes{
  padding:1rem;
}

p.indent, p.noindent{text-indent:0}
/* code{font-size:1.4rem;} */
/* figure pre.listings{font-size: 1.4rem;} */
figure.texsource, figure.shellcommand, figure.htmlsource, figure.luasource, figure.textsource{
  margin:0.5rem 0; 
  padding-left:0.5rem; 
  overflow:auto;
}
figure pre.listings{font-size: 1em;}

.chapterToc, .sectionToc, .subsectionToc{margin:0;padding:0;}
nav.TOC{
  font-size:0; /* trick to remove vertical space above TOC entries */
}

 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {padding-left:2em;margin-left:0}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {padding-left:4em;margin-left:0;}

nav.TOC span{
  margin-top:0;
  font-size:0.8rem;
}

nav.TOC a, nav.TOC a:visited{
  text-decoration:none;
}

.chapterToc, .sectionToc, .subsectionToc {
  display: block;
}

.chapterToc a, .sectionToc a, .subsectionToc a {
  display: flex;
  flex-grow: 1;
  padding: 7px 10px 7px 15px;
  justify-content: flex-start;
  align-items: center;
}

.chapterToc span, .sectionToc span, .subsectionToc span {
  display: block;
}

.chapterToc .chapter_number, .sectionToc .chapter_number, .subsectionToc .chapter_number {
  margin-right: 7px;
  white-space: nowrap;
}

/* ************** */
/* *** Colors *** */
/* ************** */


body{
  background-color:#F5F2EF;
}

a {
  color: #5D9FF0;
}

main.main-content, div.footnotes, main.titlepage{
  background-color:white;
}

nav.TOC,nav.TOC a, nav.TOC a:visited{
  background-color:#F5F2EF;
  color:#000000;
}

nav.TOC span:hover, nav.TOC span:hover *{
  background-color:#dad5ca;
}

figure.texsource, figure.shellcommand, figure.htmlsource, figure.luasource, figure.textsource{
  border:1px solid #cec1aa;
  background-color:#d5e3c6;
}

.main-content {
  line-height: var(--f-lh);
}

div.footnotes {
  border: none;
}

.footnote-mark {
  margin-right: 3px;
}

table.tabular {
  width: 100%;
}

.chapterHead .titlemark {
  display: block;
}
